// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.today-notice{
	background-color: #ED4337; 
	color: #f7f7f7 !important;
	padding: 2px 5px;
	border: 2px #D9E9FF dashed;
	font-weight: bold;
	letter-spacing: 3px;
}

.white {
	color: #f7f7f7 !important
}
